{% extends 'base.html' %}
{% load static %}


{% block body %}

    <h1>Change {{ profile.first_name }} {{ profile.last_name }} Password</h1>
    <form role="form" method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button" value="Save">
    </form>

{% endblock %}

{% block js %}

    <script type="text/javascript" src="/static/zxcvbn_password/js/password_strength.js"></script>
    <script type="text/javascript" src="/static/zxcvbn_password/js/zxcvbn-async.js"></script>
    <script type="text/javascript" src="/static/zxcvbn_password/js/zxcvbn.js"></script>

{% endblock %}